<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello and welcome to my Anime Review Kingdom (If that's even the right word 😅</h1>
  <h2>Feel free to take a peek at our anime lists and check out some reviews left by our users. Want to add an anime or Voice actors/actresses yourself? Log in and unlock the gates to the kingdom. What's that? Oh you wanna know about trashing an anime with brutal commentary? Well you'd better log in. No anon hate reviews here 😒!!! Extra features including a friends list, links to trailers, search functionality and more will be added. We've got them chilling (🥶) in the Icebox for now.</h2>
</main>

<%- include('./partials/footer') %>
