html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-image: url(https://i.imgur.com/AyKA41y.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  color: #0a0a0a;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(8, 8, 8, 0.8);
  padding: 20px;
  color: #ffffff;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

body > nav {
  grid-area: nav;
  background-color: rgba(20, 20, 20, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #fbfeff;
}

nav > a:hover {
  color: rgb(185, 12, 12);
  background-color: #424748;
}

.right {
  margin-left: auto;
}

