main { 
  color: #ffffff;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 5px;
  text-align: center;
}

a {
  color: rgb(134, 3, 3);
}