<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/anime" method="POST">
    <label for="img-input">ImageURL</label>
    <input type="text" name="image">
    <label for="title-input">Title</label>
    <input type="text" name="title" id="title-input">
    <label for="release-year-input">Release Year:</label>
    <input type="text" name="releaseYear" id="release-year-input">
    <label for="english-release-year-input">English Dub Release Year:</label>
    <input type="text" name="englishReleaseYear" id="english-release-year-input">
    <button type="submit">Add Anime</button>
  </form>
</main>

<%- include("../partials/footer") %>